* {
  text-align: center;
}

hr {
display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 10px;
}

.Login-logo {
margin: 0;
}

.Handover Button{
  padding-left: 130px;
  padding-right: 130px;
}

.home-header {
  background-color: white;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}